{% extends 'base.html' %} {% block title %} Index page {% endblock %} {% block
content %}
<div
  class="container text-center mt-5"
  style="
    background-color: #e3f2fd;
    border: 2px;
    border-radius: 20px;
    padding-top: 65px;
    height: 250px;
  "
>
  <h2>Hi, I'm Mayur 👋</h2>
  <p style="font-size: 50px">Welcome to My Flask-Blog Site</p>
</div>

<div class="text-center mt-2">
  <button
    type="button"
    class="btn btn-light"
    style="border: 2px; background-color: black; color: white"
  >
    <a herf="https://github.com/mayuras7685">Github</a>
  </button>

  <button
    type="button"
    class="btn btn-primary"
    style="border: 2px; border-color: #e3f2fd"
    herf="https://www.linkedin.com/in/mayur-asodara-366067206/"
  >
    Linkdin
  </button>

  <button
    type="button"
    class="btn btn-light"
    style="border: 2px; background-color: #cd486b; color: white"
    herf="https://www.instagram.com/mayur_7685/"
  >
    Instagram
  </button>
</div>
{% endblock %}
